CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.vs/
.vscode/
tmp
scripts/ffmpeg
scripts/ffmpeg.exe
.idea/
cmake-build-debug/
cmake-build-release/
out/
